/*----------------------Basicos-----------------------*/
img{
    width: 60%;
    height: auto;
}
body{
  font-family:Georgia, 'Times New Roman', Times, serif
}








/*----------------------Menu-----------------------*/
.list-menu{
  list-style-type: none;
  margin: 4;
  padding: 4;
}

ul{  
  background-color: #2e8dfa;
  margin: 0;
  padding: 0 20px;
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  width: 100%; 
}

ul li {
  float: left;
  margin: 10px;
  padding: 0;
  align-self: center;
  position: relative;
}

ul li a{
  size: 20px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  transition: background 0.3s;
}

ul li a:hover{
  display: block;
  text-align: center;
  color:#f3778b;
}

body{
  background-color: #ffffff;
  padding-left: 30px;
}




/*------------------Banner_img-------------------*/



.container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.container img {
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0;
  align-items: center;
  animation: slide 12s infinite;
}

.banner img.active {
  display: block;
}

.container img:nth-child(1) { animation-delay: 0s; }
.container img:nth-child(2) { animation-delay: 3s; }
.container img:nth-child(3) { animation-delay: 6s; }
.container img:nth-child(4) { animation-delay: 9s; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  top: 90%;
  left: 0%;
}






/*-------------------------Sobre--------------------------*/






.body-sobre {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
}

.body-sobre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("voluntariado.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px);    
  transform: scale(1.1);
  z-index: -1;
}

@media (max-width: 800px) 
{

  .body-sobre 
  {
    background-attachment: scroll;
    filter: blur(4px);
  }
}

@keyframes slide {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

