input, button {
  padding: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-conteudo {
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 500px;
  position: relative;
}

.fechar {
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
  font-size: 40px;
  color: black;
}

.alerta-fundo {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.alerta-caixa {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 250px;
  text-align: center;
}
